@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

@keyframes modal-open {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-modal-open {
  animation: modal-open 0.3s ease-out;
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}

@supports (backdrop-filter: blur(8px)) {
  .backdrop-blur-sm {
    backdrop-filter: blur(8px);
  }
}